<!-- <h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<div class="text-green-400 sm:text-red-500 lg:text-orange-500"> Hello world!</div>
<div>
  <h3 class="text-orange-500 sm:w"></h3>
</div> -->
<div class="flex">
  <div class="">
    <img [src]="img" alt="Tailwind Css"
      class="rounded-full mx-auto md:rounded-8  md:w-auto md:h-auto lg:w-auto  lg:h-auto lg:rounded-15">
  </div>
  <div>
    <p class="sm:text-sky-500 sm:text-orange-500 md:p-9 md:text-3xl">"Tailwind Css is the only framework that i've seen
      scale on large teams.it's easy to customize,adapts to anay design,and the build size is tiny" </p>
  </div>
</div>
<button class="outline hover:outline-offset-2 p-6 m-8  flex items-center justify-center">Button</button>
<div class="flex space-x-4 ml-6">
  <div class="bg-gray-500 rounded w-6">1</div>
  <div class="bg-gray-500 rounded w-6">2</div>
  <div class="bg-gray-500 rounded w-6">3</div>
</div><br>
<button class="border-2 border-gray-500 ml-6 w-16 rounded-sm">Click</button><br>
<div class="rounded-tl-lg border-2 w-18">
  <h3>Hello Welcome</h3>
</div><br>

<div class=" border border-blue-500 border-opacity-100 w-16 m-8">Hello World
</div>
<input class="border border-red-400 hover:border-blue-400 focus:border-yellow-500"><br>
<br><br><br><br>
  <div class="grid grid-cols-3 divide-x devide-y devide-grasy-500">
    <div class="text-center">1</div>
    <div class="text-center">2</div>
    <div class="text-center">3</div>
    <div class="text-center"> 4</div>
    <div class="text-center">5</div>
    <div class="text-center">6</div>
    <div class="text-center">7</div>
    <div class="text-center">8</div>
  </div>
<br><br><br>

<input class="border border-blue-400 hover:bordre-yellow-500"><br><br>
<button class="border-2 border-blue-500 hover:border-red-500 ml-6 ">
  Button
</button>
<input type="text" class=" border border-dashed border-gray-600 hover:border-red-500 focus:border-yellow-400 ml-8"><br><br><br>

<div class="flex flex-col-reverse divided-y divided-y-reverse divided-gray-400">
  <div class="text-center py-2">1</div>
  <div class="text-center py-2">2</div>
  <div class="text-center py-2">3</div>
</div>
<br>
<table class=" brightness-20 border-separate border-2 items-center">
  <tr>
    <th class="border border-gray-400 px-4 py-2 text-gray-800"> State</th>
    <th class="border border-gray-400 px-4 py-2 text-gray-800"> City</th>
  </tr>
  <tr>
    <td class="border border-gray-400 px-4 py-2 text-gray-800"> Andhra</td>
    <td class="border border-gray-400 px-4 py-2 text-gray-800"> Kurnool</td>
  </tr>
  <tr>
    <td class="border border-gray-400 px-4 py-2 text-gray-800"> Telengana</td>
    <td class="border border-gray-400 px-4 py-2 text-gray-800"> Karimnagar</td>
  </tr>
</table><br>





<div class="bg-scroll" style="background-image: url(https://img.freepik.com/free-photo/aerial-beautiful-shot-seashore-with-hills-background-sunset_181624-24143.jpg?w=740&t=st=1672997039~exp=1672997639~hmac=667972e55c3c4a54f3d60ab7f9eec5c8ded07504c92ddb0d67851ef3aadd9c71);">
  <div>
    <table class="border-separate border-2 items-center">
      <tr>
        <th class="border border-gray-400 px-4 py-2 text-gray-800">Surname</th>
        <th class="border border-gray-400 px-4 py-2 text-gray-800">First Name</th>
        <th class="border border-gray-400 px-4 py-2 text-gray-800">Age</th>
        <th class="border border-gray-400 px-4 py-2 text-gray-800">Mobile Number</th>
      </tr>
      <tr>
        <td class="border border-gray-400 px-4 py-2 text-gray-800">Gangireddy</td>
        <td class="border border-gray-400 px-4 py-2 text-gray-800">Krishna Reddy</td>
        <td class="border border-gray-400 px-4 py-2 text-gray-800">22</td>
        <td class="border border-gray-400 px-4 py-2 text-gray-800">8008936549</td>
      </tr>
      <tr>
        <td class="border border-gray-400 px-4 py-2 text-gray-800">Bavigadda</td>
        <td class="border border-gray-400 px-4 py-2 text-gray-800">Ashok Reddy</td>
        <td class="border border-gray-400 px-4 py-2 text-gray-800">24</td>
        <td class="border border-gray-400 px-4 py-2 text-gray-800">7989288596</td>
      </tr>
    </table>
    <br>
    <table class="md:table-fixed">
      <thead>
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
          <td>Malcolm Lockyer</td>
          <td>1961</td>
        </tr>
        <tr>
          <td>Witchy Woman</td>
          <td>The Eagles</td>
          <td>1972</td>
        </tr>
        <tr>
          <td>Shining Star</td>
          <td>Earth, Wind, and Fire</td>
          <td>1975</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  



<div id="div" class="border-4 w-60 h-64 m-5 border-blue-400" >
sdfghjkl
</div>
